# folders
.git
config
log

### Python ###
__pycache__/
*.py[cod]
*$py.class
*.pyc
test.py

### VisualStudioCode ###
.vscode/*
*.code-workspace
.history/

# Allow
!example.node.ini
test.sh

# FTP
.ftpconfig
