# Ignore
log
*.pyc
config
.git
log/*
.git/*
classes/__pycache__/*
classes/__pycache__
chia_api/__pycache__
chia_api/__pycache__/*
node/__pycache__
node/__pycache__/*
.ftpconfig
.idea
test.sh


# Allow
!example.node.ini
test.sh
