[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
nuitka = {version = "*", sys_platform = "== 'win32'"}
ordered-set = {version = "*", sys_platform = "== 'win32'"}

[packages]
psutil = "*"
requests = "*"
websockets = "*"
pywin32 = {version = "225", sys_platform = "== 'win32'"}

[requires]
python_version = "3.9"
